* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.tepa {
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 24px;
}

.container {
    width: 1440px;
    margin: auto;
}

.ong :hover {

    width: 19px;
}

.yozz {
    gap: 24px;
    margin-top: 20px;
}

.rasm {
    background-repeat: no-repeat;
    background-image: url(https://fastly.picsum.photos/id/866/1440/704.jpg?hmac=eDd3BSGRVkKI5vEROdkd8reEKP5X6rWzuooJuUrnKqo);
}

.rasmm {
    width: 1440px;
    height: 704px;
    padding-top: 130px;
    margin-left: 600px;
}

.cardd {

    width: 630px;
    height: 444px;
    font-size: 32px;
    box-sizing: border-box;
    padding-top: 48px;
    padding-left: 56px;
}

.cardd2 {
    font-size: 18px;
    margin-top: 20px;
}

.but {
    font-size: 16px;
    width: 170px;
    height: 56px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 2px;
    justify-content: center;
    background-color: #f9f9f9;
    margin-top: 157px;
}

.but :hover {
    padding: 16px 34px 16px 34px;
    background-color: pink;
}

.mt2 {
    margin-top: 80px;
    margin-left: 420px;

}

.talik4 {
    width: 305px;
    height: 244px;
    margin-bottom: 82px;
    background-color: #f9f9f9;
}

.ta4 {
    width: 209px;
    height: 148px;
    margin: 48px;
}

.yon {
    display: flex;
    gap: 22px;
}

.cardlarr {
    width: 305px;
    height: 462px;
}

.cardlar {
    display: flex;
    gap: 22px;
    margin-top: 12px;
}

.but2 {
    font-size: 16px;
    width: 170px;
    height: 56px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 2px;
    justify-content: center;
    background-color: #f9f9f9;
    margin-top: 48px;
    margin-left: 550px;
}

.but2 :hover {
    padding: 16px 34px 16px 34px;
    background-color: pink;
}

.siyox {
    width: 634px;
    height: 478px;
    background-color: #2A254B;

}

.yozuvv {
    width: 495px;
    height: 99px;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 72px;
    padding-top: 64px;
}

.kotta {
    font-size: 32px;
    color: white;
}

.kichik {
    font-size: 18px;
    color: white;
}

.but3 {
    font-size: 16px;
    width: 170px;
    height: 56px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 2px;
    justify-content: center;
    background-color: #3f3873;
    margin-top: 157px;
    color: white;
}

.bilmadim {
    display: flex;
    gap: 16px;
    margin-top: 60px;
}

.dashed {
    border-bottom: 1px dashed gray;
    margin-top: 40px;
}
.bg-img{
background-image: url(https://fastly.picsum.photos/id/417/1440/444.jpg?blur=5&hmac=gjj5DKJfg815Bcv80H4zrW1w95CCMTrO4pkEM6EVSKA);
height: 444px;
background-size: cover;
background-repeat: no-repeat;
}
.yozzz{
text-align: center;
line-height: 45px;
}
.pp{
font-size: 18px;}
.pp1{
    box-sizing: border-box;
    padding-top: 59px;
font-size: 32px;
}
.mmm{
    display: flex;
    gap: 36px;
    padding-left: 445px;
}
.inpp1{
width: 354px;
height: 56px;
background-color: #f9f9f9;
}
.inpp2{
text-align: center;
width: 118px;
height: 56px;
background-color: #2A254B;
}
.inpp{
display: flex;
margin-left: 410px;
}
.tugadi{
    justify-content: space-around;
   gap: none;
    height: 380px;
    background-color:#2a254b;
}
.text-white{
font-size: 14px;
}
.inpp3{
    width: 509px;
    height: 56px;
    background-color: #4a4666;
    }
    .inpp5{
        text-align: center;
        width: 118px;
        height: 56px;
        background-color: #f9f9f9;
        }
        .ushaa{
        display: flex;
        box-sizing: border-box;
        padding: 58px;
          width: 1440px;
        justify-content: space-around;
        }
        .chop{
        display: flex;
        gap: 130px;
        
        
        }
        .tugadiiiiiii{
        background-color: #2A254B;
        }
        .cop{
        padding: 24px 80px;
        }